In [1]:
import pymongo
import warnings
import pandas as pd
from pandas import DataFrame

In [2]:
from pymongo import MongoClient
client = MongoClient()

In [3]:
client = MongoClient('localhost', 27017)

In [4]:
db = client.housing_db

In [5]:
collection = db.items

In [6]:
housing_locations = collection.find_one()
housing_locations

{'_id': ObjectId('5c8ac82ba71e03405a852ba8'),
 'city': 'Agawam',
 'median_listing_price': 201225.0,
 'state': ' MA',
 'zipcode': '01001'}

In [7]:
# Expand the cursor and construct the DataFrame
df_1 =  pd.DataFrame(list(collection.find()))
df_1.head()

                        _id         city  median_listing_price state zipcode
0  5c8ac82ba71e03405a852ba8       Agawam              201225.0    MA   01001
1  5c8ac82ba71e03405a852baa      Amherst              454050.0    MA   01002
2  5c8ac82ba71e03405a852bac        Barre              243225.0    MA   01005
3  5c8ac82ba71e03405a852bae  Belchertown              333775.0    MA   01007
4  5c8ac82ba71e03405a852bb0    Blandford              223725.0    MA   01008

In [8]:
db = client.zillow_db

In [9]:
collection = db.items

In [10]:
zillow_locations = collection.find_one()
zillow_locations

{'_id': ObjectId('5c8ac77fa71e03405a851800'),
 'city': ' Saddle River ',
 'median_listing_price': 9999999,
 'state': 'NJ ',
 'zipcode': '07458'}

In [11]:
# Expand the cursor and construct the DataFrame
df_2 =  pd.DataFrame(list(collection.find()))
df_2.head()

,_id,city,median_listing_price,state,zipcode
0,5c8ac77fa71e03405a851800,Saddle River,9999999,NJ,07458
1,5c8ac77fa71e03405a851802,BLOOMFIELD,439900,NJ,07003
2,5c8ac77fa71e03405a851804,OAKLAND,450000,NJ,07436
3,5c8ac77fa71e03405a851806,Manasquan,585000,NJ,08736
4,5c8ac77fa71e03405a851808,Allendale,999900,NJ,07401

In [12]:
realestate_combined_data = pd.merge(df_1, df_2, on=["zipcode"])
realestate_combined_data.head()

,_id_x,city_x,median_listing_price_x,state_x,zipcode,_id_y,city_y,median_listing_price_y,state_y
0,5c8ac831a71e03405a85350f,Bayonne,347050.0,NJ,07002,5c8ac787a71e03405a85248f,BAYONNE,299999,NJ
1,5c8ac831a71e03405a85350f,Bayonne,347050.0,NJ,07002,5c8ac78ca71e03405a85297f,Bayonne,495000,NJ
2,5c8ac831a71e03405a853511,Bloomfield,313550.0,NJ,07003,5c8ac77fa71e03405a851802,BLOOMFIELD,439900,NJ
3,5c8ac831a71e03405a853511,Bloomfield,313550.0,NJ,07003,5c8ac784a71e03405a8520ce,BLOOMFIELD,350000,NJ
4,5c8ac831a71e03405a853511,Bloomfield,313550.0,NJ,07003,5c8ac786a71e03405a852296,Bloomfield,479000,NJ

In [13]:
# realestate_combined_data.columns
realestate_combined_data.count()

_id_x                     2368
city_x                    2368
median_listing_price_x    2368
state_x                   2368
zipcode                   2368
_id_y                     2368
city_y                    2368
median_listing_price_y    2368
state_y                   2368
dtype: int64

In [14]:
realestate_combined_data.rename(columns={'zipcode': 'Combined Zipcode Data', 'city_x': 'US Housing - City', 'state_x': 'US Housing - State', 'median_listing_price_x': 'US Housing - Median Listing Price', 'city_y': 'Zillow - City', 'state_y': 'Zillow - State', 'median_listing_price_y': 'Zillow - Median Listing Price'}, inplace=True)
realestate_combined_data.head()

,_id_x,US Housing - City,US Housing - Median Listing Price,US Housing - State,Combined Zipcode Data,_id_y,Zillow - City,Zillow - Median Listing Price,Zillow - State
0,5c8ac831a71e03405a85350f,Bayonne,347050.0,NJ,07002,5c8ac787a71e03405a85248f,BAYONNE,299999,NJ
1,5c8ac831a71e03405a85350f,Bayonne,347050.0,NJ,07002,5c8ac78ca71e03405a85297f,Bayonne,495000,NJ
2,5c8ac831a71e03405a853511,Bloomfield,313550.0,NJ,07003,5c8ac77fa71e03405a851802,BLOOMFIELD,439900,NJ
3,5c8ac831a71e03405a853511,Bloomfield,313550.0,NJ,07003,5c8ac784a71e03405a8520ce,BLOOMFIELD,350000,NJ
4,5c8ac831a71e03405a853511,Bloomfield,313550.0,NJ,07003,5c8ac786a71e03405a852296,Bloomfield,479000,NJ

In [15]:
realestate_df = realestate_combined_data[["Combined Zipcode Data", "US Housing - City", "Zillow - City", "US Housing - State", "Zillow - State", "US Housing - Median Listing Price", "Zillow - Median Listing Price"]]
realestate_df.head()

,Combined Zipcode Data,US Housing - City,Zillow - City,US Housing - State,Zillow - State,US Housing - Median Listing Price,Zillow - Median Listing Price
0,07002,Bayonne,BAYONNE,NJ,NJ,347050.0,299999
1,07002,Bayonne,Bayonne,NJ,NJ,347050.0,495000
2,07003,Bloomfield,BLOOMFIELD,NJ,NJ,313550.0,439900
3,07003,Bloomfield,BLOOMFIELD,NJ,NJ,313550.0,350000
4,07003,Bloomfield,Bloomfield,NJ,NJ,313550.0,479000

In [16]:
realestate_df['Difference in Median Price'] = realestate_df['US Housing - Median Listing Price'].sub(realestate_df['Zillow - Median Listing Price'], axis = 0) 
realestate_df.head()

C:\Users\CharCarr\Anaconda\Anaconda3\envs\Python_Data-Splinter\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,Combined Zipcode Data,US Housing - City,Zillow - City,US Housing - State,Zillow - State,US Housing - Median Listing Price,Zillow - Median Listing Price,Difference in Median Price
0,07002,Bayonne,BAYONNE,NJ,NJ,347050.0,299999,47051.0
1,07002,Bayonne,Bayonne,NJ,NJ,347050.0,495000,-147950.0
2,07003,Bloomfield,BLOOMFIELD,NJ,NJ,313550.0,439900,-126350.0
3,07003,Bloomfield,BLOOMFIELD,NJ,NJ,313550.0,350000,-36450.0
4,07003,Bloomfield,Bloomfield,NJ,NJ,313550.0,479000,-165450.0

In [17]:
realestate_df.is_copy = False
warnings.simplefilter(action='ignore', category=FutureWarning)

realestate_df.head()

C:\Users\CharCarr\Anaconda\Anaconda3\envs\Python_Data-Splinter\lib\site-packages\pandas\core\generic.py:4388: FutureWarning: Attribute 'is_copy' is deprecated and will be removed in a future version.
  object.__getattribute__(self, name)
C:\Users\CharCarr\Anaconda\Anaconda3\envs\Python_Data-Splinter\lib\site-packages\pandas\core\generic.py:4389: FutureWarning: Attribute 'is_copy' is deprecated and will be removed in a future version.
  return object.__setattr__(self, name, value)

,Combined Zipcode Data,US Housing - City,Zillow - City,US Housing - State,Zillow - State,US Housing - Median Listing Price,Zillow - Median Listing Price,Difference in Median Price
0,07002,Bayonne,BAYONNE,NJ,NJ,347050.0,299999,47051.0
1,07002,Bayonne,Bayonne,NJ,NJ,347050.0,495000,-147950.0
2,07003,Bloomfield,BLOOMFIELD,NJ,NJ,313550.0,439900,-126350.0
3,07003,Bloomfield,BLOOMFIELD,NJ,NJ,313550.0,350000,-36450.0
4,07003,Bloomfield,Bloomfield,NJ,NJ,313550.0,479000,-165450.0

In [18]:
realestate_df.to_csv("./output/combinedhousingdata.csv")